<div class="room-header-{{ user_type }}">
    <div class="d-flex justify-content-between align-items-start flex-wrap gap-3 mb-3">
        <div class="flex-grow-1">
            <h1 class="room-title-{{ user_type }}">{{ room.name }}</h1>
            {% if room.description %}
            <p class="room-description">{{ room.description }}</p>
            {% endif %}
        </div>
        <div class="d-grid gap-3">
            <a href="#" 
            data-copy="{{ room.room_code }}" 
            class="btn btn-secondary room-code-badge text-decoration-none text-light">
                {{ room.room_code }}
            </a>

            <a href="{% url 'video_call' room.id %}" class="btn btn-primary py-2" target="_blank">
                <i class="bi bi-camera-video-fill me-1"></i>Join Video Call
            </a>

            {% if request.user.teacher %}
                <a href="{% url 'export_grades' room.id %}" class="btn btn-outline-primary py-2">
                    <i class="bi bi-download me-1"></i>Export Grades
                </a>
            {% endif %}
        </div>

    </div>
    
</div>
