{% extends 'base.html' %}

{% block title %}Room - {{ room.name }}{% endblock %}

{% block extra_css %}
{% include 'room/components/room_styles.html' %}
{% endblock %}

{% block content %}
{% include 'components/breadcrumb.html' with breadcrumb_items=breadcrumb_items %}

<div class="container px-3 px-lg-4 py-4">
    <!-- Room Header -->
    {% include 'room/components/room_header.html' with user_type='teacher' %}

    <!-- Quick Stats -->
    {% include 'room/components/stats_cards.html' %}

    <!-- Dashboard Sections -->
    <div class="row g-4">
        <!-- Students Section -->
        <div class="col-lg-4">
            {% include 'room/components/students_section.html' %}
        </div>

        <!-- Activities Section -->
        <div class="col-lg-4">
            {% include 'room/components/activities_section.html' %}
        </div>

        <!-- Announcements Section -->
        <div class="col-lg-4">
            {% include 'room/components/announcements_section.html' %}
        </div>
    </div>
</div>

{% block modals %}
    {% include 'components/modals/room_announcement.html' %}
    {% include 'components/modals/room_activity.html' %}
{% endblock %}
{% endblock %}

{% block extra_js %}
{% include 'room/components/grade_toggle_script.html' %}
{% endblock %}


