{% extends 'base.html' %}
{% load static %}
{% block title %}Room - {{ room.name }}{% endblock %}

{% block extra_css %}
{% include 'room/components/room_styles.html' %}
{% endblock %}

{% block content %}
{% include 'components/breadcrumb.html' with breadcrumb_items=breadcrumb_items %}

<div class="container px-3 px-lg-4 py-4">
    {% include 'room/components/room_header.html' with user_type='teacher' %}

    {% include 'room/components/stats_cards.html' %}

    <div class="row g-4">
        <div class="col-lg-4">
            {% include 'room/components/students_section.html' %}
        </div>

        <div class="col-lg-4">
            {% include 'room/components/activities_section.html' %}
        </div>

        <div class="col-lg-4">
            {% include 'room/components/announcements_section.html' %}
        </div>
    </div>
</div>

{% block modals %}
    {% include 'components/modals/room_announcement.html' %}
    {% include 'components/modals/room_activity.html' %}
    {% include 'components/modals/kick_student.html' %}
{% endblock %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/utils.js' %}" ></script>
{% include 'room/components/grade_toggle_script.html' %}
{% endblock %}


