{% load static %}

<div class="row mb-3">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h1 class="h4 fw-bold text-dark mb-0">
                {{ activity.title }}
            </h1>
            <span class="badge 
                {% if user_role == 'teacher' %}
                    {% if activity.status == 'closed' %}bg-danger
                    {% else %}bg-success{% endif %}
                {% else %}
                    {% if submission %}
                        {% if submission.status == 'graded' %}bg-primary
                        {% elif submission.status == 'submitted' %}bg-warning text-dark
                        {% else %}bg-secondary{% endif %}
                    {% else %}
                        {% if activity.status == 'closed' %}bg-danger
                        {% else %}bg-success{% endif %}
                    {% endif %}
                {% endif %}">
                {% if user_role == 'teacher' %}
                    {{ activity.status|capfirst }}
                {% else %}
                    {% if submission %}
                        {{ submission.status|capfirst }}
                    {% else %}
                        {% if activity.status == 'closed' %}Closed
                        {% else %}Not Submitted{% endif %}
                    {% endif %}
                {% endif %}
            </span>
        </div>

        <div class="d-flex justify-content-end align-items-center">
            {% if user_role == 'student' %}
                <p class="text-secondary-color">( {{ submission.score|default:"-" }} / {{ activity.total_marks }} )</p>
            {% else %}
                <p class="text-secondary-color">(Max: {{ activity.total_marks }})</p>
            {% endif %}
        </div>
        <small class="text-secondary-color">
            <i class="bi bi-calendar text-secondary-color me-1"></i>
            Due {{ activity.due_date|date:"M d, Y g:i A" }}
        </small>
    </div>
</div>
