<div class="modal fade" id="joinRoomModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Join Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="POST" action="{% url 'enroll_student' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="join_code" class="form-label">Room Code</label>
                        <input type="text" class="form-control" id="join_code" name="code" required>
                        <small class="text-secondary-color">Enter the code provided by your teacher</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Join Course</button>
                </div>
            </form>
        </div>
    </div>
</div>


